<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <h:outputStylesheet name="w3.css" library="css"/>
    <h:outputStylesheet name="font-awesome.min.css" library="css"/>
    <h:outputStylesheet name="default.css" library="css"/>
    <h:outputScript name="default.js" library="js"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</h:head>
<h:body>
    <h:form >
    <p:commandButton
                     icon="pi pi-search"
                     value="Details"
                     actionListener="#{articleBean.onEditButtonClicked}"
    />

    <p:commandButton
                     icon="pi pi-plus-circle"
                     value="Ajouter"
                     action="#{articleBean.onCreateButtonClicked}"

    />
    <p:commandButton
                     icon="pi pi-times"
                     value="Ajouter"
                     action="#{articleBean.onDeleteButtonClicked}"

    />
    </h:form>
</h:body>
</html>