<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
   <h:outputStylesheet name="w3.css" library="css"/>
   <h:outputStylesheet name="font-awesome.min.css" library="css"/>
   <h:outputStylesheet name="default.css" library="css"/>
   <h:outputScript name="default.js" library="js"/>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
</h:head>
<h:body>
   <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-topleft w3-padding-large w3-xlarge">
         <h:outputLabel value="Logo" />
      </div>
      <div class="w3-display-middle">
         <h1 class="w3-jumbo w3-animate-top">
            <h:outputLabel value="COMING SOON" />
         </h1>
         <hr class="w3-border-grey" style="margin:auto;width:40%"/>
         <p class="w3-large w3-center">
            <h:outputLabel value="35 days left" />
         </p>
      </div>
      <div class="w3-display-bottomleft w3-padding-large">
         Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
      </div>
   </div>
</h:body>
</html>